<app-add-task (onSaveTask)="saveTask($event)"></app-add-task>
<div cdkDropList [cdkDropListData]="tasks$" (cdkDropListDropped)="drop($event)" class="list">
  <div
    cdkDrag
    *ngFor="let task of tasks$ | async; index as i"
    class="box"
    [style.order]="task.order"
  >
    <app-task-item
      [task]="task"
      (onEditTask)="toggleEditTask(task)"
      (onDeleteTask)="deleteTask(task)"
      (onToggleReminder)="toggleReminder(task)"
    ></app-task-item>
  </div>
</div>
<app-footer></app-footer>
